# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
autopep8=1.4.4=py_0
ca-certificates=2019.8.28=0
certifi=2019.9.11=py37_0
chardet=3.0.4=pypi_0
defusedxml=0.6.0=pypi_0
dj-database-url=0.5.0=pypi_0
django=2.2.5=py37_1
django-admin-interface=0.11.2=pypi_0
django-allauth=0.40.0=pypi_0
django-colorfield=0.1.15=pypi_0
django-flat-responsive=2.0=pypi_0
django-flat-theme=1.1.4=pypi_0
django-heroku=0.3.1=pypi_0
django-json-404-middleware=0.0.1=pypi_0
django-markdownx=2.0.28=pypi_0
django-rest-auth=0.9.5=pypi_0
djangorestframework=3.10.3=pypi_0
gunicorn=19.9.0=pypi_0
idna=2.8=pypi_0
krb5=1.16.1=h173b8e3_7
libedit=3.1.20181209=hc058e9b_0
libffi=3.2.1=hd88cf55_4
libgcc-ng=9.1.0=hdf63c60_0
libpq=11.2=h20c2e04_0
libstdcxx-ng=9.1.0=hdf63c60_0
markdown=3.1.1=pypi_0
ncurses=6.1=he6710b0_1
oauthlib=3.1.0=pypi_0
openssl=1.1.1d=h7b6447c_2
pillow=6.2.1=pypi_0
pip=19.2.3=py37_0
psycopg2=2.8.3=py37h1ba5d50_0
pycodestyle=2.5.0=py37_0
python=3.7.4=h265db76_1
python3-openid=3.1.0=pypi_0
pytz=2019.3=py_0
readline=7.0=h7b6447c_5
requests=2.22.0=pypi_0
requests-oauthlib=1.2.0=pypi_0
setuptools=41.4.0=py37_0
six=1.12.0=pypi_0
sqlite=3.30.0=h7b6447c_0
sqlparse=0.3.0=py_0
tk=8.6.8=hbc83047_0
urllib3=1.25.6=pypi_0
wheel=0.33.6=py37_0
whitenoise=4.1.4=pypi_0
xz=5.2.4=h14c3975_4
zlib=1.2.11=h7b6447c_3
